@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.7490196078);
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainClass {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  gap: 40px;
  padding: 20px 5%;
  transition: filter 0.5s;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 15px 0;
  text-align: center;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 15px 0;
  text-align: center;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 40px 0 10px 0;
  text-align: center;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 15px 0;
  text-align: center;
}

h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 15px 0;
  text-align: center;
}

strong {
  color: #ffffff;
}

ul {
  list-style: disc;
  margin: 0 0 0 20px;
}

li {
  text-align: justify;
  text-justify: inter-word;
}

.separador {
  border: auto;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5058823529) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}

.separador2 {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1254901961);
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1882352941) 25%, rgba(255, 255, 255, 0.1882352941) 75%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  border-top: 0;
}

.mostrarRows {
  --rows: 1fr;
  --espacio: 20px;
}
.mostrarRows .iconRotateX svg {
  transform: rotateX(180deg);
}

.boton1, .cert-boton {
  background-color: #636363;
  padding: 5px 15px;
  box-shadow: 0 6px 20px 0 rgba(74, 74, 74, 0.4117647059);
  border-radius: 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
.retrato {
  width: 75%;
  height: fit-content;
  margin: 0 auto 15px auto;
  padding: 4px;
  border-radius: 100%;
  background-image: linear-gradient(60deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1254901961) 50%, rgba(255, 255, 255, 0.5058823529) 100%);
  overflow: hidden;
}
.retrato img {
  border-radius: 100%;
}

.tecs-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  gap: 20px;
}

.cat-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cat-titulo h4 {
  width: max-content;
}
.cat-titulo .separadorTituloL {
  border: auto;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5058823529) 100%);
  border-image-slice: 1;
  width: 10%;
}
.cat-titulo .separadorTituloR {
  border: auto;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.5058823529), rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  width: 10%;
}

#experiencia ul {
  width: 90%;
  margin: 0 auto;
}
#experiencia ul li {
  width: 100%;
  text-align: left;
  margin-left: 20px;
}
#experiencia li::marker {
  color: #d11515;
}
#experiencia .exp-nombre {
  color: rgba(255, 255, 255, 0.7490196078);
}
#experiencia .exp-tiempo {
  color: #ffffff;
  font-weight: 700;
}

.proyectos-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.mostrarMenu {
  --btnMenu: scale(1);
  --btnCruz: scale(0) rotate(-90deg);
}

.mostrarCruz {
  --btnMenu: scale(0) rotate(90deg);
  --btnCruz: scale(1);
  --clip: inset(0 0 0 0);
}

.navegador {
  position: sticky;
  top: 0;
  width: 100%;
  height: max-content;
  background-color: #d11515;
  z-index: 999;
}
.navegador .nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 20px;
}
.navegador .nav-top .nav-top-texto {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
}
.navegador .nav-top .nav-top-div {
  height: 40px;
  width: 40px;
  display: grid;
  grid-template-areas: "icon";
  transition: transform 0.3s ease-in-out;
}
.navegador .nav-top .nav-top-div .iconoCruz {
  transform: var(--btnCruz);
}
.navegador .nav-top .nav-top-div .iconoMenu {
  transform: var(--btnMenu);
}
.navegador .nav-top .nav-top-div .nav-top-icon {
  position: relative;
  grid-area: icon;
  transition: all 0.3s;
}
.navegador .nav-top .nav-top-div .nav-top-icon svg {
  position: relative;
  top: 0.1rem;
}
.navegador .nav-dropdown {
  position: absolute;
  top: 80px;
  background-color: rgba(128, 128, 128, 0.7);
  width: 100%;
  height: calc(100vh - 80px);
  overflow: auto;
  clip-path: var(--clip, inset(0 0 100% 0));
  transition: clip-path 0.5s;
}
.navegador .nav-dropdown .nav-link {
  width: 100%;
}
.navegador .nav-dropdown .nav-link .nav-link-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 25px;
}
.navegador .nav-dropdown .nav-link .nav-link-div .nav-link-icon {
  width: 1.4rem;
}
.navegador .nav-dropdown .nav-link .nav-link-div .nav-link-text {
  font-size: 1.2rem;
}

@media (width >= 920px) {
  .navegador .nav-top {
    display: none;
  }
  .navegador .nav-dropdown {
    position: sticky;
    top: 0px;
    background-color: transparent;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    overflow: hidden;
    clip-path: none;
  }
  .navegador .nav-dropdown .nav-link {
    cursor: pointer;
  }
  .navegador .nav-dropdown .nav-link .nav-link-div {
    transition: background-color 1s;
  }
  .navegador .nav-dropdown .nav-link .nav-link-div:hover {
    background-color: rgba(250, 250, 250, 0.2);
    transition: background-color 0.5s;
  }
}
.tecnologias {
  position: relative;
  width: 100%;
}
.tecnologias .tec-list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
}
.tecnologias .tec-list .tec-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: auto;
  gap: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(217, 217, 217, 0.0509803922);
  border: 1px solid transparent;
  border-image-source: linear-gradient(45deg, rgba(209, 21, 21, 0.7), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5058823529) 100%);
  border-image-slice: 1;
  box-shadow: 0 6px 20px 0 rgba(74, 74, 74, 0.4117647059);
}
.tecnologias .tec-list .tec-card div {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: center;
  gap: 10px;
}
.tecnologias .tec-list .tec-card img {
  position: relative;
  width: 45%;
  height: auto;
  object-fit: cover;
}
.tecnologias .tec-list .tec-card p {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}

.certDropdown {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 1s grid-template-rows;
}
.certDropdown .certDropdownDiv {
  display: grid;
  gap: 20px;
  overflow: hidden;
}

.certificaciones-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--espacio, 10px);
  width: 100%;
  margin-top: 15px;
}

.cert-boton {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.cert-boton svg {
  width: 1rem;
  position: relative;
  left: 0.1rem;
  top: 0.05rem;
  transition: all 0.5s;
}

.certificado {
  position: relative;
  border: 1px solid transparent;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.5058823529), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5058823529) 100%);
  border-image-slice: 1;
  background-color: rgba(217, 217, 217, 0.0509803922);
  width: 100%;
  padding: 10px;
  text-align: center;
}
.certificado .certificado-contenido {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  gap: 15px;
}
.certificado .certificado-contenido .cert-nombre {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: center;
  gap: 5px;
}
.certificado p {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
}
.certificado img {
  border: 1px solid transparent;
  border-image-source: linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5058823529) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}

.proyectoCard {
  background-color: rgba(217, 217, 217, 0.0509803922);
  border: 1px solid transparent;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.5058823529), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5058823529) 100%);
  border-image-slice: 1;
  box-shadow: 0 6px 20px 0 rgba(74, 74, 74, 0.4117647059);
}
.proyectoCard img {
  width: 100%;
}
.proyectoCard .proyectoCardInfo {
  padding: 15px;
}
.proyectoCard .proyectoCardInfo h4 {
  text-align: left;
  margin: 5px 0;
}
.proyectoCard .proyectoCardInfo h5 {
  text-align: left;
  margin: 10px 0 5px 0;
}
.proyectoCard .proyectoCardInfo hr {
  border: auto;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.5058823529), rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  margin-bottom: 10px;
}
.proyectoCard .proyectoCardInfo .tecsUsadas {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.proyectoCard .proyectoCardInfo .tecsUsadas svg {
  fill: rgba(255, 255, 255, 0.7490196078);
  width: 1.8rem;
}
.proyectoCard .proyectoLink {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}
.proyectoCard .proyectoLink svg {
  fill: rgba(255, 255, 255, 0.7490196078);
  width: 1.8rem;
  height: 1.8rem;
}

/*# sourceMappingURL=style.css.map */
