@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: rgba(255, 255, 255, 0.8705882353);
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainClass {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 8px 5%;
  transition: filter 0.5s;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 15px 0;
  text-align: center;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 15px 0;
  text-align: center;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /*   button {
      background-color: #f9f9f9;
    } */
}
.mostrarMenu {
  --btnMenu: scale(1);
  --btnCruz: scale(0) rotate(-90deg);
}

.mostrarCruz {
  --btnMenu: scale(0) rotate(90deg);
  --btnCruz: scale(1);
  --clip: inset(0 0 0 0);
}

.navegador {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  background-color: #ec3651;
  z-index: 9999;
}
.navegador .nav-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.navegador .nav-top .nav-top-texto {
  font-size: 1.5rem;
  font-weight: 600;
}
.navegador .nav-top .nav-top-div {
  display: grid;
  grid-template-areas: "icon";
  height: 40px;
  width: 40px;
  transition: transform 0.3s ease-in-out;
}
.navegador .nav-top .nav-top-div .iconoCruz {
  transform: var(--btnCruz);
}
.navegador .nav-top .nav-top-div .iconoMenu {
  transform: var(--btnMenu);
}
.navegador .nav-top .nav-top-div .nav-top-icon {
  position: relative;
  grid-area: icon;
  transition: all 0.3s;
}
.navegador .nav-top .nav-top-div .nav-top-icon svg {
  position: relative;
  top: 0.1rem;
}
.navegador .nav-dropdown {
  background-color: rgba(128, 128, 128, 0.8);
  position: absolute;
  top: 80px;
  height: calc(100vh - 80px);
  width: 100%;
  overflow: auto;
  clip-path: var(--clip, inset(0 0 100% 0));
  transition: clip-path 0.5s;
}
.navegador .nav-dropdown .nav-link {
  cursor: pointer;
  width: 100%;
}
.navegador .nav-dropdown .nav-link .nav-link-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 1.2rem;
}
.navegador .nav-dropdown .nav-link .nav-link-div .nav-link-icon {
  width: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
